.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5em 0 2.5em;
    font-size: small;
    background-color: #f5f5f5;
}

.header a {
    text-decoration: none;
}

.header__left ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.header__left li a {
    padding: 10px;
    margin: 10px;
    color: #808080;

}

.header__left a:hover {
    color: orangered;
    border-bottom: 2px solid orangered;

}

.header__right {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .header__right>* {
    margin-left: 10px;
} */

.header__right>img {
    width: 25px;
    border-radius: 50%;
}

.header__right>i {
    font-size: medium;
    color: #808080;
}

.header__user {
    color: #808080;
}